:root {
    --font-family-main: Poppins, sans-serif;

    --font-size-m: 16px;
    --font-line-m: 24px;
    --font-m: var(--font-family-main) / var(--font-size-m) / var(--font-line-m);

    --font-size-l: 24px;
    --font-line-l: 32px;
    --font-l: var(--font-family-main) / var(--font-size-l) / var(--font-line-l);

    --font-light: 300;
    --font-regular: 400;
    --font-bold: 600;
    --font-extrabold: 700;

    --navbar-height: 50px;
    --sidebar-width: 300px;
    --sidebar-width-collapsed: 70px;
}