.page {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 1em;
}

.button {
	position: relative;
	padding: 5px 10px;
	border: 2px solid #000000;
    font-weight: 600;
	border-radius: 1em;
	transition: all ease-in-out 0.3s;

	&:hover {
        background-color: #5372f0;
        color: #ffffff;
	}
}
