.button {
    cursor: pointer;
    color: var(--primary-light-color);
}

.clear {
    padding: 0;
    border: none;
    background: none;
    outline: none;
}

.outline {
    padding: 5px 10px;
    border: 1px solid var(--primary-light-color);
    color: var(--primary-light-color);
    border-radius: 1em;
    background: none;
}

.disabled {
    opacity: 0.5;
}