.sidebar {
    height: calc(100vh - var(--navbar-height));
    width: var(--sidebar-width);
    padding: 20px 10px;
    transition: width 0.5s ease-in-out;
}

.iconsContainer {
    background-color: var(--secondary-light-color);
    height: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
}

.collapsed {
    width: var(--sidebar-width-collapsed);
}

