.dark {
    --bg-color: #222629;

    --primary-light-color: #86c232;
    --primary-dark-color: #61892f;

    --secondary-light-color: #6b6e70;
    --secondary-dark-color: #474b4f;

    --shadow-color: #00000010;

    --default-font: #edf5e1;
    --secondary-font: #edf5e1;
}
