.light {
    --bg-color: #5372f0;

    --primary-light-color: #ffffff; // Шриафт акцентный, кнопки
    --primary-dark-color: #edf5e1;

    --secondary-light-color: #edf5e1; // Шрифт светлый
    --secondary-dark-color: #000000;

    --shadow-color: #00000010;

    --default-font: #edf5e1;
    --secondary-font: #000000;
}
