.light {
    --bg-color: #5cdb95;

    --primary-light-color: #05386b; // Шриафт акцентный, кнопки
    --primary-dark-color: #379683;

    --secondary-light-color: #edf5e1; // Шрифт светлый
    --secondary-dark-color: #8ee4af;

    --default-font: #edf5e1;
}
